<%= form_with(model: tool_consumer, local: true) do |form| %>
  <% if tool_consumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool_consumer.errors.count, "error") %> prohibited this tool_consumer from being saved:</h2>

      <ul>
      <% tool_consumer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tool_consumer_name %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key, id: :tool_consumer_key %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.text_field :secret, id: :tool_consumer_secret %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
