<%= form_with(model: lti_user, local: true) do |form| %>
  <% if lti_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lti_user.errors.count, "error") %> prohibited this lti_user from being saved:</h2>

      <ul>
      <% lti_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :lti_user_full_name %>
  </div>

  <div class="field">
    <%= form.label :given %>
    <%= form.text_field :given, id: :lti_user_given %>
  </div>

  <div class="field">
    <%= form.label :family %>
    <%= form.text_field :family, id: :lti_user_family %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :lti_user_username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :lti_user_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
