<h1>Lti Users</h1>

<% if @lti_users.length > 0 %>
  <hr>
  <table class="table table-hover mt-3">

    <thead class="thead-light">
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th class="text-right pr-4" colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @lti_users.each do |lti_user| %>
      <tr>
        <td>
          <%= lti_user.full_name %>
        </td>
        <td>
          <%= lti_user.username %>
        </td>
        <td>
          <%= lti_user.email %>
        </td>
        <td>
          <%= lti_user.lti_role.name %>
        </td>

        <td class="text-right pr-4">
          <%= link_to lti_user do %>
            <span class="fas fa-eye mr-3"></span>
          <% end %>
          <%= link_to edit_lti_user_path lti_user do %>
            <span class="fas fa-edit mr-3 text-info"></span>
          <% end %>
          <%= link_to lti_user, method: :delete, data: {confirm: 'Are you sure?'} do %>
            <span class="fas fa-trash-alt mr-3 text-danger"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>
<% else %>
  <hr>
  <p>
    No Users to show <i class="far fa-frown text-info"></i><br/>
    Create one with the " <i class="fas fa-plus-square text-success"></i> " button.<br/>
  </p>
<% end %>
<hr>
<%= link_to new_lti_user_path do %>
  <button type="button" class="btn btn-success"><i class="fas fa-plus-square text-white mr-3"></i>New LTI-User</button>
<% end %>

