<h3><%= link_to 'Tool Consumers', tool_consumers_url %> / <%= link_to @tool_consumer do %>Tool consumer #<%= @tool_consumer.id %> <% end %>/ Timetable # <%= @timetable.id %></h3>
<hr>
<p>
  <strong>Name:</strong>
  <%= @timetable.name %>
</p>
<hr>

<div id="timetable-units-calendar">
</div>
<hr>
<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', @tool_consumer %>