<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
      <div class="form-group" style="padding-left: 0px">
        <div class="input-group date" id="datepicker_attendance" data-target-input="nearest">
          <%= form.text_field :date, class: 'form-control datetimepicker-input', data: {target: '#datepicker_attendance'}, placeholder: "Date" %>
          <div class="input-group-append" data-target="#datepicker_attendance" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fas fa-clock text-success"></i></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datepicker_attendance').datetimepicker({
              });
          });
      </script>
  </div>

  <div class="field">
    <%= form.label :timetable_unit_id %>
    <%= form.text_field :timetable_unit_id, id: :attendance_timetable_unit_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
