<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Timetable unit:</strong>
  <%= @attendance.timetable_unit.name %>
</p>

<p>
  <strong>Lti context:</strong>
  <%= @attendance.lti_context.label %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
