<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class="<%= controller_name %>-<%= action_name %>">

    <%= render 'layouts/header' %>

    <div class="page-wrapper">
      <div class="container">

        <% unless notice.nil? %>

          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Information!</strong> <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <% end %>

        <% unless alert.nil? %>

          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <% end %>

          <%= yield %>

      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>


</html>